@page
@model Presentation.WebUI.Areas.Membership.Pages.Persons.IndexModel
@{
    Layout = "_Layout";
}

<h1>Persons</h1>

<div class="pb-4">
    <a asp-area="Membership" asp-page="/Persons/Create">Add person</a>
    <a asp-area="Membership" asp-page="/Persons/Create"></a>
</div>


<table class="table">
    <thead>
    <tr>
        <th scope="col">Last Name</th>
        <th scope="col">First Name</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        @foreach (var person in Model.Data.Persons)
        {
            <td>@person.LastName</td>
            <td>@person.FirstName</td>
            <td>
                <a asp-page="Edit" asp-route-personId="@person.Id">Edit</a> |
                <a asp-page="Details" asp-route-id="@person.Id">Details</a> |
                <a asp-page="Delete" asp-route-id="@person.Id">Delete</a>
            </td>
        }
    </tr>
    </tbody>
</table>